<div class="about-main py-5">
    <div class="my-5 pb-4 text-white">
        <h3 class="mx-auto text-center fs-1 my-5 text-uppercase fw-bold">
            about componant
        </h3>
        <div class="d-flex mx-auto w-75">
            <p class="text-start px-3">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
            </p>
            <p class="text-start px-3">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
            </p>
        </div>
    </div>
</div>