<div class="top-footer">
  <div class="container">
    <div class="row">
      <div class="col-4 d-flex flex-column py-5 text-white text-center">
        <h4 class="mb-0 text-uppercase">
          Location
        </h4>
        <p>
          2215 John Daniel Drive
        </p>
        <span>
          Clark, MO 65243
        </span>
      </div>
      <div class="col-4 d-flex flex-column py-5 text-white text-center">
        <h4 class="mb-0 text-uppercase">
          About the web
        </h4>
      </div>
      <div class="col-4 d-flex flex-column py-5 text-white text-center">
        <h4 class="mb-0 text-uppercase">
          About Freelance
        </h4>
        <p class="fs-8 pt-2">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      </div>
    </div>
  </div>
</div>
<div class="bottom-footer">
  <div class="container">
    <div class="row">
      <p class="text-white py-4 text-center mb-0">
        Copyright © Your Website 2021
      </p>
    </div>
  </div>
</div>