<div class="container">
    <h2 class="fw-bold title text-uppercase text-center py-4">contact section</h2>
</div>
<div class="my-5 py-5 container">
    <div class=" w-75 mx-auto">
        <form class="form-group">
            <input type="text" class="form-control mb-4 border-top-0 border-end-0 border-start-0" placeholder="userName">
            <input type="text" class="form-control mb-4 border-top-0 border-end-0 border-start-0" placeholder="userAge">
            <input type="text" class="form-control mb-4 border-top-0 border-end-0 border-start-0" placeholder="userEmail">
            <input type="text" class="form-control mb-4 border-top-0 border-end-0 border-start-0" placeholder="userPassword">
        </form>
        <button class="btn btn-contact">Send Message</button>
    </div>
</div>
